In [1]:
import pandas as pd
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

###  handlin missing  data
from sklearn.impute import SimpleImputer

### libraries for feature selection 
from scipy.stats import chi2_contingency

#### added f_classif here as the target value could be a categorical encoded.. :)
from sklearn.feature_selection import chi2, f_regression, f_classif
from sklearn.feature_selection import SelectKBest

In [2]:
df_ml = pd.read_csv("/Users/eupirate/Desktop/CCT/CA2三月_Data_Explore/CA2 - Data Exploration amp Preparation - Instructions-20240329/ML_Data_R_copy.csv", na_values   = "?")

In [3]:
df_ml_dropna=df_ml.dropna()

In [4]:
df_ml_dropna.head(10)

,ID_Record,ID,Entry ID,Strategic Sale,Destination,Group,Date,Sequence,Product,Qty,...,Logistic Partner,Deposit,Replacement,Market Demand,Quarter,Week,Strateg Prod,Strat Customer,ABC,Customer Group
2,3,66,18072,0,NL,2,6/26/2021,77,4440,30,...,C6,L9,NO,3,2022Q4,1,0,No,C,3986
3,4,17,18181,1,US,2,08/02/2021,11,4440,62,...,C2,L2,NO,1,2022Q3,9,0,No,C,684
4,5,55,18335,1,DE,7,9/13/2021,2,4481,250,...,C6,L9,NO,3,2022Q4,12,0,No,C,521
5,6,66,18378,0,NL,2,9/27/2021,31,4440,500,...,C6,L9,NO,3,2022Q1,4,0,No,C,3986
6,7,66,18397,0,NL,2,10/04/2021,1,4452,99,...,C6,L9,NO,3,2022Q3,10,0,No,C,3986
7,8,66,18397,0,NL,2,10/04/2021,1,4452,19,...,C6,L9,NO,3,2022Q3,10,0,No,C,3986
8,9,55,18462,1,DE,23,10/25/2021,4,4492,500,...,C6,L9,NO,3,2022Q3,5,0,No,C,521
9,10,55,18462,1,DE,23,10/25/2021,4,4492,100,...,C6,L9,NO,3,2022Q3,5,0,No,C,521
10,11,65,18470,1,NL,7,10/25/2021,2,4481,16,...,C13,L13,NO,3,2022Q3,10,0,No,C,720
11,12,65,18470,1,NL,7,10/25/2021,2,4481,20,...,C13,L13,NO,3,2022Q3,6,0,No,C,720

In [5]:
df_ml_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14836 entries, 2 to 15886
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Record         14836 non-null  int64
 1   ID                14836 non-null  int64
 2   Entry ID          14836 non-null  int64
 3   Strategic Sale    14836 non-null  int64
 4   Destination       14836 non-null  object
 5   Group             14836 non-null  int64
 6   Date              14836 non-null  object
 7   Sequence          14836 non-null  int64
 8   Product           14836 non-null  int64
 9   Qty               14836 non-null  int64
 10  Total Value       14836 non-null  object
 11  Unit Price        14836 non-null  float64
 12  Planned Date      14836 non-null  object
 13  Delivered Date    14836 non-null  object
 14  TYPE              14836 non-null  object
 15  Qty Delivered     14836 non-null  float64
 16  Order Source      14836 non-null  object
 17  Logistic Partner  14836 non-null  object
 18  Deposit           14836 non-null  object
 19  Replacement       14836 non-null  object
 20  Market Demand     14836 non-null  int64
 21  Quarter           14836 non-null  object
 22  Week              14836 non-null  int64
 23  Strateg Prod      14836 non-null  int64
 24  Strat Customer    14836 non-null  object
 25  ABC               14836 non-null  object
 26  Customer Group    14836 non-null  int64
dtypes: float64(2), int64(12), object(13)
memory usage: 3.2+ MB

In [6]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15890 entries, 0 to 15889
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Record         15890 non-null  int64
 1   ID                15890 non-null  int64
 2   Entry ID          15890 non-null  int64
 3   Strategic Sale    15890 non-null  int64
 4   Destination       15186 non-null  object
 5   Group             15890 non-null  int64
 6   Date              15890 non-null  object
 7   Sequence          15890 non-null  int64
 8   Product           15890 non-null  int64
 9   Qty               15890 non-null  int64
 10  Total Value       15890 non-null  object
 11  Unit Price        15890 non-null  float64
 12  Planned Date      15890 non-null  object
 13  Delivered Date    15571 non-null  object
 14  TYPE              15890 non-null  object
 15  Qty Delivered     15571 non-null  float64
 16  Order Source      15890 non-null  object
 17  Logistic Partner  15890 non-null  object
 18  Deposit           15890 non-null  object
 19  Replacement       15890 non-null  object
 20  Market Demand     15890 non-null  int64
 21  Quarter           15890 non-null  object
 22  Week              15890 non-null  int64
 23  Strateg Prod      15890 non-null  int64
 24  Strat Customer    15890 non-null  object
 25  ABC               15780 non-null  object
 26  Customer Group    15890 non-null  int64
dtypes: float64(2), int64(12), object(13)
memory usage: 3.3+ MB

In [7]:
df_ml_tr = df_ml.copy()

In [8]:
df_ml_tr.isnull().sum()

ID_Record             0
ID                    0
Entry ID              0
Strategic Sale        0
Destination         704
Group                 0
Date                  0
Sequence              0
Product               0
Qty                   0
Total Value           0
Unit Price            0
Planned Date          0
Delivered Date      319
TYPE                  0
Qty Delivered       319
Order Source          0
Logistic Partner      0
Deposit               0
Replacement           0
Market Demand         0
Quarter               0
Week                  0
Strateg Prod          0
Strat Customer        0
ABC                 110
Customer Group        0
dtype: int64

In [9]:
# Export missing values dropped data to a new CSV file
df_ml_dropna.to_csv("/Users/eupirate/Desktop/CCT/CA2三月_Data_Explore/CA2 - Data Exploration amp Preparation - Instructions-20240329/ML_Data_nadrop.csv", index=False)
## from this point, we'll be using "df_ml_dropna" for our analysis

In [10]:
### Research: 
### MCAR (Missing Completely at Random)
### MAR (Missing at Random)
### MNAR (Missing Not at Random)
# For missing values... Missing at Random (MAR), MCAR, MNAR.. see if you find these types on the dataframe

In [11]:
#### CLEANING DATA - DROPPING ALL Null data

In [12]:
### describe the dataset and visualise - descriptive statistics

In [13]:
#### Data Exploration / Visualisation 
###  some scatterplots  - set logaritm scale if necessary 
#g_rel.set(yscale="log",xscale="log")

In [14]:

## observe outliers #

In [15]:
#### records with value zero 
# Check values zero

In [16]:
### date treatment 
df_ml_tr['Planned Date'] = pd.to_datetime(df_ml_tr['Planned Date'])
df_ml_tr['Date'] = pd.to_datetime(df_ml_tr['Date'])
df_ml_tr['Delivered Date'] = pd.to_datetime(df_ml_tr['Delivered Date'])

In [17]:
### Values treatment 
df_ml_tr['Total Value '] = df_ml_tr['Total Value '].str.replace('$', '').str.replace(',', '')
df_ml_tr['Total Value '] = df_ml_tr['Total Value '].astype(float)

In [18]:
#### handling missing data 

#### impute the overall mean to zero prices

In [19]:
## check the average of prices by product --- what would be the best practice here?

In [20]:
#### handling missing data - Categories 


## impute zeros categories by most-frequent - ABC
### Has ABC any relationship to any other variables?  what would be the best practice here?

In [21]:
#### Encoding 
#### create categories for type cat columns 

#### encode all the object and convert as categories
### df_ml_cat.select_dtypes(include=['object']).columns

In [22]:
# Encode your data set to use Feature Selection

In [23]:
#### Feature Selection  
#### Select fields that contributes to the Return Prediction Model 

##using correlation 
### observe the correlation (heat map) what is possible to conclude?
## IS correlation the best method for Future Selection?

In [24]:
### select all relevant columns - example below ##
columns  = ['ABC','Customer Group','Strateg Prod','Strategic Sale','Group','Product','Order Source','Logistic Partner','Deposit','Replacement','Week']

## Using SelectKBest  
## get all the relevant fields recommented by the model

In [25]:
############### here is the current dataframe used by the ML Return Model 

### final dataset processed with columns example : 
#Customer Group 	Group 	Product 	Deposit 	Week

In [26]:
### by creating extra columns in your improved code (Feature engineering) , what will be the change in your dataframe, any relevant change? 
#### test this hipothesis  in your improved code