In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/Users/eupirate/Desktop/CCT_Stats_CA/garments_worker_productivity.csv")

In [3]:
df.head()

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,sweing,Thursday,8,0.8,26.16,1108,7080,98,0.0,0,0,59.0,0.940725
1,sweing,Thursday,11,0.8,11.41,968,3660,50,0.0,0,0,30.5,0.800570
2,sweing,Thursday,12,0.8,11.41,968,3660,50,0.0,0,0,30.5,0.800570
3,sweing,Thursday,6,0.8,25.90,1170,1920,50,0.0,0,0,56.0,0.800382
4,sweing,Thursday,7,0.8,25.90,984,6720,38,0.0,0,0,56.0,0.800125

In [4]:
df.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000
mean,6.520984,0.723980,23.245412,1190.465991,6508.205499,44.483357,1.264834,0.639653,0.260492,52.445731,0.722013
std,3.458333,0.102006,6.976497,1837.455001,2864.505604,27.596591,16.712923,4.283652,0.537185,9.417353,0.154784
min,1.000000,0.070000,10.050000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,0.233705
25%,4.000000,0.700000,18.790000,774.500000,4560.000000,30.000000,0.000000,0.000000,0.000000,52.000000,0.661470
50%,6.000000,0.750000,22.520000,1039.000000,6840.000000,45.000000,0.000000,0.000000,0.000000,57.000000,0.750608
75%,10.000000,0.800000,28.080000,1252.500000,7200.000000,60.000000,0.000000,0.000000,0.000000,58.000000,0.800402
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,138.000000,300.000000,45.000000,2.000000,89.000000,1.100484

# We need to find out if the population MEAN is different from 6300 before implementing the new machines.

In [5]:
def calculate_mean_overtime(df):
    mean_overtime_before = round(df['over_time'].mean(),0)
    return mean_overtime_before

before_mean_overtime = calculate_mean_overtime(df)
print(f"Average overtime before: {before_mean_overtime}")

Average overtime before: 6508.0

# Given after average over time is 6300 minutes

In [6]:
after_mean_overtime = 6300.00
print(f"Average overtime after: {after_mean_overtime}")

Average overtime after: 6300.0

# Calculate the difference between the two means

In [7]:
diff_mean = before_mean_overtime - after_mean_overtime
print(f"The before and after mean is: {diff_mean}")

The before and after mean is: 208.0