In [1]:
import pandas as pd
import seaborn as sns

# patterns
import glob

In [2]:
filepaths=glob.glob("/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/*.csv")
filepaths

['/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/LH2519_33f56eb8.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/FR126_33f8ab4a.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/LH2519_33f2a369.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/EI3258_33ec2db7.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/LH2519_33ef755b.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/LH2519_33ec0d89.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/FR126_33f29c2f.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/LH2519_33f86f4a.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/EI3258_33f5708b.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/FR126_33f56293.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/FR126_33ec127c.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/EI3258_33f86dc5.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/FR126_33ef8d93.csv',
 '/Users/eupirate/Documents/DA_L7/L7_term2/data_exploration/wk8_in_class/EI3258_33ef7021.csv']

In [3]:
## create an empty dataframe
df_airlines=[]

for file in filepaths:
    df_airlines.append(pd.read_csv(file))

df_fligth=pd.concat(df_airlines)
df_fligth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5836 entries, 0 to 296
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  5836 non-null   int64
 1   UTC        5836 non-null   object
 2   Callsign   5836 non-null   object
 3   Position   5836 non-null   object
 4   Altitude   5836 non-null   int64
 5   Speed      5836 non-null   int64
 6   Direction  5836 non-null   int64
dtypes: int64(4), object(3)
memory usage: 364.8+ KB

In [4]:
df_fligth.describe(include="all")

,Timestamp,UTC,Callsign,Position,Altitude,Speed,Direction
count,5.836000e+03,5836,5836,5836,5836.000000,5836.000000,5836.000000
unique,NaN,5592,3,5822,NaN,NaN,NaN
top,NaN,2024-02-09T18:49:50Z,DLH2MH,"53.435265,-6.245909",NaN,NaN,NaN
freq,NaN,3,2229,2,NaN,NaN,NaN
mean,1.707603e+09,NaN,NaN,NaN,11345.771933,224.058602,148.295922
std,1.254347e+05,NaN,NaN,NaN,12638.990997,151.689529,95.522475
min,1.707415e+09,NaN,NaN,NaN,0.000000,0.000000,1.000000
25%,1.707504e+09,NaN,NaN,NaN,1175.000000,108.000000,83.000000
50%,1.707595e+09,NaN,NaN,NaN,6262.500000,231.000000,119.000000
75%,1.707681e+09,NaN,NaN,NaN,15000.000000,332.000000,239.000000
max,1.707771e+09,NaN,NaN,NaN,39050.000000,523.000000,359.000000

In [5]:
df_fligth

,Timestamp,UTC,Callsign,Position,Altitude,Speed,Direction
0,1707674144,2024-02-11T17:55:44Z,DLH2MH,"53.426582,-6.246919",0,0,146
1,1707674200,2024-02-11T17:56:40Z,DLH2MH,"53.426743,-6.24712",0,2,154
2,1707674225,2024-02-11T17:57:05Z,DLH2MH,"53.426949,-6.247297",0,2,188
3,1707674253,2024-02-11T17:57:33Z,DLH2MH,"53.427166,-6.247283",0,1,230
4,1707674295,2024-02-11T17:58:15Z,DLH2MH,"53.426792,-6.247161",0,1,244
...,...,...,...,...,...,...,...
292,1707505079,2024-02-09T18:57:59Z,EAI58EH,"55.947784,-3.367696",0,6,168
293,1707505087,2024-02-09T18:58:07Z,EAI58EH,"55.947598,-3.367481",0,6,146
294,1707505093,2024-02-09T18:58:13Z,EAI58EH,"55.94751,-3.367206",0,6,112
295,1707505097,2024-02-09T18:58:17Z,EAI58EH,"55.947514,-3.366988",0,7,95
296,1707505102,2024-02-09T18:58:22Z,EAI58EH,"55.947514,-3.366752",0,5,92